<div id="containerTable" class="card mx-basic my-basic fondohab white-text">
  <% let total = 0; %>
  <div class="">
    <div class="">
      <table class="btn-font-style">
        <thead>
          <th>
            <tr>
              <td class="row1">#</td>
              <td class="row2">Servicio</td>
              <td class="row3">Precio</td>
              <td class="row4h">Accion</td>
            </tr>
          </th>
        </thead>
        <tbody id="data">
          <% serviciosCuenta.forEach((servicioCuenta, index) => { %>
          <tr id="<%=servicioCuenta?.id || servicioCuenta?.idServicio%>">
            <td class="row1"><%= index+1%></td>
            <td class="row2"><%= servicioCuenta.servicio?.nombre %></td>
            <td class="row3">
              <%= servicioCuenta.servicio?.precio.toLocaleString("en-US", {
              style: "currency", currency: "USD", }) %>
            </td>
            <% total += servicioCuenta.servicio?.precio; %>
            <td class="row4">
              <button
                id="<%=servicioCuenta?.id || servicioCuenta?.idServicio%>"
                onclick="_remove(this)"
                class="waves-effect waves-light btn my-basic mx-basic fondo-edit little-font-style"
              >
                Eliminar
              </button>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
      <div>
        <h5 class="precio-total">
          TOTAL: <%= total.toLocaleString("en-US", { style: "currency",
          currency: "USD", })%>
        </h5>
      </div>
    </div>
  </div>
</div>
