<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="assets/css/habitaciones.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Spectral:wght@300&display=swap"
    rel="stylesheet" />
  <title>Nuestras habitaciones</title>
</head>

<body class="fondo-hab elementos-dispos">
  <header>
    <%-include ("comunes/componentes/barra_lateral") -%>
  </header>
  <div class="contenedor-titulo">
    <h1 class="titulo-habitacion">Conoce nuestras habitaciones</h1>
  </div>

  <div class="espacio-titles contenedor-grid">
    <div class="tarjetas-de-habitaciones">

      <!-- For que genera las habitaciones -->

      <% habitaciones.forEach((habitacion)=>{%>

        <div class="tarjeta-habitacion">
          <div class="imagen-tarjeta">
            <img class="icon-hab-style" src="assets/img/hab1.jpg" />
          </div>
          <div class="tarjeta-info">
            <div class="div-datos">
              <label class="data-font-style uppercase">
                Habitacion número <%= habitacion.numHabitacion%>
              </label>
              <p class="btn-font-style descripcion-habitacion">
                <%= habitacion.descripcion%>
              </p>
              <p id=<%=habitacion.numHabitacion%> class="btn-font-style descripcion-habitacion">
                $<%= habitacion.precio%>.00
              </p>
              <button id=<%=habitacion.numHabitacion%> class="boton-reservacion">
                <%= habitacion.estado %>
              </button>
            </div>
          </div>
        </div>
        <% })%>
    </div>
  </div>
</body>
<script src="/assets/js/pagos/pagos.js"></script>

</html>