<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/assets/js/formatoDate.js"></script>
    <%- include("comunes/componentes/headers-components")-%>
    <link rel="stylesheet" href="assets/css/reservaciones.css" />
    <title>Nuestras Reservaciones</title>
  </head>
  <body class="background-reservation">
    <header><%-include ("comunes/componentes/barra_lateral") -%></header>
    <div class="contenedor-titulo">
      <h1 class="titulo-reservacion">Reservaciones</h1>
    </div>

    <section class="contenedor-reservacion">
      <div class="grid-contenedor-reservacion">
        <% reservaciones.forEach((reservacion)=>{%>
        <div class="tarjeta-reservacion centrar-elemento">
          <div>
            <div class="imagen-tarjeta-reservacion">
              <img
                alt="habitacion del hotel"
                class="foto-de-habitacion"
                src="assets/img/hab1.jpg"
              />
            </div>
            <div>
              <a href="/detalle-cuenta/<%=reservacion.idReservacion%>">Agregar Servicios</a>
            </div>
          </div>
          <div class="contenedor-info-reservacion">
            <h2 class="nombre-reservacion">
              RS-<%= reservacion.idReservacion%>
            </h2>
            <div>
              <p class="nombre-cliente"><%= reservacion?.cliente?.nombre%></p>
              <p class="nombre-habitacion">
                Habitación <%= reservacion?.habitacion?.descripcion%>
              </p>
            </div>
            <div class="contenedor-fechas">
              <p class="nombre-fechas">
                <%= formatoFecha(reservacion.fechaInicio)%> - <%=
                formatoFecha(reservacion.fechaFin)%>
              </p>
            </div>
          </div>
        </div>
        <% })%>
      </div>
    </section>
  </body>
</html>
