<table>
    <thead>
        <th>
            <tr>
                <td>#</td>
                <td>Precio</td>
                <td>Descripcion</td>
                <td>Estado</td>
                <td>Acción</td>
            </tr>
        </th>
    </thead>
    <tbody>
        <% for(var i=0; i<records.length ;i++){ %> 
            <tr>
                <td><%=records[i]["numHabitacion"]  %></td>
                <td><%=records[i]["precio"]  %></td>
                <td><%=records[i]["capacidad"] %></td>
                <td><%=records[i]["descripcion"]  %></td>
                <td><%=records[i]["estado"]  %></td>
                <td>
                    <a href="/edita/verform-edit/<%=records[i]["numHabitacion"]  %> ">Editar</a>
                </td>
            </tr>
        <% } %> 
    </tbody>
</table>